Options +FollowSymLinks

RewriteEngine on

#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

RewriteRule  ^home/$ ./pages/home.php

RewriteRule  ^about/$ ./pages/about.php

RewriteRule  ^contactus/$ ./pages/contactus.php

RewriteRule  ^contactusSave/$ ./pages/contactusSave.php
