body{
	background:#FFF !important;
}
.header,.middle,.footer{
	position:relative;
	width:100%;
}
.fullContainer{
	position:relative;
	width:100%;
	overflow-x:hidden;
}
@media(max-width:900px){
	.content{
		position:relative;
		width:100%;
		padding:0px 5%;
	}
	.section{
		position:relative;
		padding:20px 0px;
	}
}
@media(min-width:900px){
	.content{
		position:relative;
		width:100%;
		padding-left:3%;
		padding-right:12%;
	}
	.col1{
		float:left;
		width:250px;
	}
	.col2{
		float:left;
		width:calc(100% - 250px);
	}
	.section{
		position:relative;
		padding:40px 0px;
	}
	.leftLine{
		position:relative;
		width:calc(100% - 250px);
		height:1px; 
		background:#000;
	}
	.rightLine{
		position:relative;
		margin-left:300px;
		width:calc(100% - 300px);
		height:1px; 
		background:#000;
	}
		
}


/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/

.header{
	position:relative;
	width:100%;
	padding-top:50px;
	padding-bottom:25px;
}
.header .logo{
	float:left;
}
.header .nav{
	float:right;
	margin-top:15px;
}
.header .nav a{
	margin:0px 15px;
}

.header .burger{
	float:right;
	width:30px;
	height:23px;
	margin-top:4px;
	background:url("../images/burger.png") center no-repeat;
	background-size:contain;
}

#mobileMenu{
	position:fixed;
	top:0px;
	right:0px;
	width:200px;
	height:100%;
	padding:20px;
	background:#fff;
	z-index:999;
}
#mobileMenu .burger{
	float:right;
	width:30px;
	height:23px;
	margin-top:4px;
	background:url("../images/burger.png") center no-repeat;
	background-size:contain;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*HOME*/

#home{
	position:relative;
	width:100%;
}
#home #section1{
	position:relative;
	width:100%;
}


/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*CONTACTUS*/

#footer{
	position:relative;
	width:100%;
	padding:40px 0px;
}


/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*SWIPER*/

.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

@media(max-width:900px){
	.swiper-arrows-black{
		position:absolute;
		top:-50px;
		right:5%;
		width:65px;
		height:30px;
	}
}
@media(min-width:900px){
	.swiper-arrows-black{
		position:absolute;
		top:-60px;
		right:10%;
		width:65px;
		height:30px;
	}
}
.swiper-button-next-black{
	right:0px !important;
    width:30px;
	height:30px;
	background:url("../images/right-arrow-black.png") center no-repeat !important;
	background-position: cover;
}
.swiper-button-prev-black {
	left:0px !important;
    width:30px;
	height:30px;
	background:url("../images/left-arrow-black.png") center no-repeat !important;
	background-position: cover;
}

.swiper-button-next-white{
	right:40px !important;
    width:30px;
	height:30px;
	background:url("../images/right-arrow-white.png") center no-repeat !important;
	background-position: cover;
}
.swiper-button-prev-white {
	left:40px !important;
    width:30px;
	height:30px;
	background:url("../images/left-arrow-white.png") center no-repeat !important;
	background-position: cover;
}