body{
	background:#FFF !important;
}
.header,.middle,.footer{
	position:relative;
	width:100%;
}
.fullContainer{
	position:relative;
	width:100%;
	overflow-x:hidden;
}
@media(max-width:900px){
	.content{
		position:relative;
		width:100%;
		padding:0px 5%;
	}
	.section{
		position:relative;
		padding:20px 0px;
	}
	.col1{
		width:100%;
		height:auto;
		padding-bottom:40px !important;
	}
	.col2{
		width:100%;
	}
	.noPadding{
		padding:0px !important;
	}
	.horizontalLine{
		position:relative;
		width:100%;
		height:1px; 
		background:#000;
	}
}
@media(min-width:900px){
	#page{
		min-height:calc(100vh - 200px) !important;
	}
	.content{
		position:relative;
		width:100%;
		padding-left:3%;
		padding-right:12%;
	}
	.col1{
		float:left;
		width:20%;
	}
	.col2{
		float:left;
		width:80%;
	}
	.section{
		position:relative;
		padding:40px 0px;
	}
	.leftLine{
		position:relative;
		width:88%;
		height:1px; 
		background:#000;
	}
	.rightLine{
		position:relative;
		margin-left:20%;
		width:80%;
		height:1px; 
		background:#000;
	}
		
}


/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/

@media(max-width:900px){
	.header{
		position:relative;
		width:100%;
		padding-top:25px;
		padding-bottom:25px;
	}
	.header .logo{
		float:left;
	}
	.header .burger{
		float:right;
		width:30px;
		height:23px;
		margin-top:12px;
		background:url("../images/burger.png") center no-repeat;
		background-size:contain;
	}
}
@media(min-width:900px){
	.header{
		position:relative;
		width:100%;
		padding-top:50px;
		padding-bottom:25px;
	}
	.header .logo{
		float:left;
	}
	.header .nav{
		float:right;
		margin-top:15px;
	}
	.header .nav a{
		margin:0px 15px;
	}
}
.header .nav .tabActive , .header .nav .tab:hover{
	font-family: 'Gilroy Medium' !important;
}

#mobileMenu{
	position:fixed;
	top:0px;
	right:0px;
	width:200px;
	height:100%;
	padding:20px;
	background:rgba(255,255,255,0.95);
	z-index:999;
}
#mobileMenu .burger{
	float:right;
	width:30px;
	height:23px;
	margin-top:17px;
	background:url("../images/burger.png") center no-repeat;
	background-size:contain;
}

#mobileMenu .tabActive ,#mobileMenu .tab:hover{
	font-family: 'Gilroy Medium' !important;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*HOME*/

#home{
	position:relative;
	width:100%;
}
#home #section1{
	position:relative;
	width:100%;
}

.exhibition .dateLine{
	height:2px;
	margin-top:10px;
}

@media(max-width:900px){
	#exhibition .galleryImage ,  #artist .galleryImage{
		width:100%;
		margin-bottom:10px;
	}
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*ARTISTS*/

#artists{
	position:relative;
	width:100%;
}
#artists #section1{
	position:relative;
	width:100%;
}
#artists #section1 .artist img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
#artists #section1 .artist img:hover{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}
#artists #section1 .artist .name{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	padding:8% 5px 5px 5px;
	color:#FFF !important;
	background:rgb(43, 43, 43, 0.6);
	background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,255,255,0.8));
	z-index:99;
}

@media(max-width:900px){
	#artists .artist{
		width:100%;
		margin-bottom:10px;
	}
}

.swiper-button-next,
.swiper-button-prev {
    background-color: #2B2B2B;
    padding:25px;
    color: #FFF !important;
    fill: #FFF !important;
    stroke: #FFF !important;
	border-radius:5px;
}

.swiper-button-next-white,
.swiper-button-prev-white {
    background-color: transparent;
    padding:25px;
    color: #FFF !important;
    fill: #FFF !important;
    stroke: #FFF !important;
	border-radius:5px;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*PODCASTS*/

#podcasts{
	position:relative;
	width:100%;
}
#podcasts #section1{
	position:relative;
	width:100%;
}
#podcasts #section1 .podcast{
	padding-bottom:20px;
	border-bottom:1.5px solid #000;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*NEWS*/

#news{
	position:relative;
	width:100%;
}
#news #section1{
	position:relative;
	width:100%;
}
#news #section1 .article{
	padding-bottom:20px;
	border-bottom:1.5px solid #000;
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*CONTACTUS*/

#contactus input[type="text"]{
	width:95%;
	padding:5px;
	border:0px;
	border-bottom:1px solid #000;
	outline:none;
}
#contactus select{
	width:95%;
	padding:9px 5px;
	border:0px;
	border-bottom:1px solid #000;
	background:transparent;
	outline:none;
}
#contactus textarea{
	width:95%;
	height:169px;
	padding:5px;
	border:0px;
	border-bottom:1px solid #000;
	outline:none;
	resize:none;
}
#contactus input[type="button"]{
	width:25%;
	padding:5px;
	border:0px;
	outline:none;
	background:url("../images/triangle-right.png") right bottom no-repeat;
	background-size:20px 20px;
}
@media(max-width:900px){
	#contactus input[type="text"] , #contactus input[type="button"] , #contactus input[type="button"]{
		width:100%;
	}
}
@media(min-width:900px){
	#contactus input[type="button"]{
		margin-left:70%;
	}
}

.masonry-item {
	width: 100%; /* Initially set to full width */
	margin:0px;
	margin-bottom:20px;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px solid #ddd;
	/* border-radius: 5px; */
	overflow: hidden;
}
@media (max-width: 768px) {
	.masonry-item {
		width: 45%; /* Two columns on larger screens */
	}
}
@media (min-width: 768px) {
	.masonry-item {
		width: 23%;
	}
	.masonry-item-artist {
		/* width: 32%; */
		width: 23%;
	}
}


.buttonTriangle{
	width:300px;
	padding:5px 5px 5px 0px;
	border:0px;
	outline:none;
	text-align: left;
	background:url("../images/triangle-right.png") right bottom no-repeat;
	background-size:20px 20px;
}



#footer{
	position:relative;
	width:100%;
	padding:40px 0px !important;
}
#footer .newsletter input[type="text"]{
	outline:none !important;
	padding:5px;
	border:1px solid #000;
}
#footer .newsletter input[type="button"]{
	outline:none !important;
	padding:5px 15px;
	color:#FFF;
	border:1px solid #000;
	background:#000;
}
#footer .newsletter input[type="button"]:hover{
	background:#333333;
}

@media(max-width:900px){
	#footer{
		padding:20px 0px !important;
	}
	#footer .socialMedia{
		text-align:left;
	}
}
@media(min-width:900px){
	#footer .socialMedia{
		text-align:right;
	}
}

/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/************************************************************************/
/*SWIPER*/

.swiper-button-next::after, .swiper-button-prev::after {
    content: "";
}

@media(max-width:900px){
	.swiper-arrows-black{
		position:absolute;
		top:-50px;
		right:5%;
		width:65px;
		height:30px;
	}
}
@media(min-width:900px){
	.swiper-arrows-black{
		position:absolute;
		top:-60px;
		right:10%;
		width:65px;
		height:30px;
	}
}
.swiper-button-next-black{
	right:0px !important;
    width:30px;
	height:30px;
	background:url("../images/right-arrow-black.png") center no-repeat !important;
	background-position: cover;
}
.swiper-button-prev-black {
	left:0px !important;
    width:30px;
	height:30px;
	background:url("../images/left-arrow-black.png") center no-repeat !important;
	background-position: cover;
}

.swiper-button-next-white{
	right:40px !important;
    width:30px;
	height:30px;
	background:url("../images/right-arrow-white.png") center no-repeat !important;
	background-position: cover;
}
.swiper-button-prev-white {
	left:40px !important;
    width:30px;
	height:30px;
	background:url("../images/left-arrow-white.png") center no-repeat !important;
	background-position: cover;
}

.swiper-pagination{
	bottom:3% !important;
}

.swiper-pagination-bullet{
	width:20px !important;
	height:20px !important;
	margin:0px 5px !important;
	border:5px solid rgba(255,255,255,0.7);
	background:transparent !important;
}
.swiper-pagination-bullet-active {
	border:0px;
    background:rgba(255,255,255,0.7) !important;
}
@media(max-width:900px){
	.swiper-pagination-bullet{
		width:15px !important;
		height:15px !important;
		margin:0px 5px !important;
		border:3px solid rgba(255,255,255,0.7);
	}
}

input[type="button"].backTopBtn{
	width:150px;
	padding:5px;
	border:0px;
	outline:none;
	background:url("../images/triangle-left.png") left top no-repeat;
	background-size:20px 20px;
}